apiVersion: v1
kind: Service
metadata:
  name: web-nodeport
  labels:
    app: web
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80         # The port the service itself will listen on inside the cluster
      targetPort: 80 # The port on the pod that the service will send requests to
      nodePort: 30080 # Optional: You can specify a specific nodePort (30000-32767)
                        # If omitted, Kubernetes will automatically assign one.